<form action="/users/<%= @user.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <div class="form-group">
		<label for="first_name">First Name</label>
		<input type="text" class="form-control" name="first_name" value="<%= @user.first_name %>">
  </div>
  <div class="form-group">
		<label for="last_name">last Name</label>
		<input type="text" class="form-control" name="last_name" value="<%= @user.last_name %>">
  </div>
  <div class="form-group">
		<label for="email_address">email address</label>
		<input type="text" class="form-control" name="email_address" value="<%= @user.email_address %>">
  </div>
  <div class="form-group">
		<label for="password">password</label>
		<input type="password" class="form-control" name="password" value="password">
  </div>
  <button type="submit" class="btn btn default">Submit</button>
</form>
<a href="/users"><h3>Back</h3></a>
